.stickyContainer {
    position: fixed;
    margin: 5px;
    width: 150px;
}

@media screen and (max-width: 1300px) {
    .stickyContainer {
      visibility: hidden;
      position: fixed;
      margin: 5px;
      width: 150px;
    }
  }